<div class="container mx-auto pt-3">
  <div class="flex flex-wrap">
    <div class="w-full md:w-10/12 md:offset-1/12 text-black">
      <h1 class="float-left mb-5 text-3xl font-bold"><%= t('.title') %></h1>
      <%= link_to t('defaults.edit'), edit_profile_path, class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 float-right' %>
      <div class="clear-both"></div>
      <table class="table-auto w-full text-left mt-5 border-black">
        <tr>
          <th class="px-4 py-2 border-b border-black"><%= t(User.human_attribute_name(:email)) %></th>
          <td class="border px-4 py-2"><%= current_user.email %></td>
        </tr>
        <tr>
          <th class="px-4 py-2 border-b border-black"><%= t(User.human_attribute_name(:full_name)) %></th>
          <td class="border px-4 py-2"><%= current_user.decorate.full_name %></td>
        </tr>
        <tr>
          <th class="px-4 py-2 border-b border-black"><%= t(User.human_attribute_name(:avatar)) %></th>
          <td class="border px-4 py-2">
            <%= image_tag current_user.avatar.url, class: 'rounded-full', width: '50', height: '50' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>