<div class="container mx-auto pt-5">
    <div class="lg:col-span-8 lg:col-start-3">
        <h1 class="text-3xl mb-3"><%= t('.title') %></h1>

        <!-- カードと詳細を含むFlexコンテナ -->
        <div class="flex flex-col md:flex-row">
            <!-- カード画像 -->
            <div class="md:w-1/12">
                <%= image_tag @card.card_image.url, class: 'w-full h-auto object-cover mx-auto' %>
            </div>

            <!-- カード詳細 -->
            <div class="md:w-11/12 flex flex-col items-start p-4">
                <div>
                    <h3 class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl whitespace-nowrap overflow-hidden text-black">
                        <%= @card.name %>
                    </h3>
                    <div class="whitespace-nowrap text-black">
                        <%= @card.user.first_name %> <%= @card.user.last_name %>
                    </div>
                    <p class="mt-4 whitespace-pre-wrap text-black"><%= simple_format(@card.remarks) %></p>
                    <%= render 'crud_menus', card: @card if current_user.own?(@card) %>
                </div>
            </div>
        </div>

        <!-- コメントフォームとエリア -->
        <%= render 'comments/form', { card: @card, comment: @comment } %>
        <%= render 'comments/comments', { comments: @comments } %>
    </div>
</div>
